<!DOCTYPE html>
<html lang="en">

<%- include('./src/template/head.ejs',{title:'Index'})%>

<body>
  <div class="site">
    <div class="site__inner">
      <div class="site__body">
        <%- include('./src/template/toys/zh-tw-alphabet.ejs')%>
      </div>
      <a href="#" class="site__btn menu-btn"></a>
      <%- include('./src/template/menu.ejs') %>
    </div>
  </div>
  
</body>

</html>