<div class="menu" id="menu">
  <div class="menu__body">
    <div class="menu__list menu-list">
      <a href="#zh-tw-alphabet" class="menu-list__item">
        zh-tw-alphabet
      </a>
      <a href="#zh-tw-vocabulary-picking" class="menu-list__item">
        zh-tw-vocabulary-picking
      </a>
    </div>
    <a href="#" class="menu__btn menu-close-btn"></a>
  </div> 
  
</div>