<div class="zh-tw-lyric-picking">
  <div class="zh-tw-lyric-picking__row">
    <% const CELLS_NUMBER=1%>
    <% for(let i = 0;i<CELLS_NUMBER;i++){%>
      <div class="zh-tw-lyric-picking__cell">
        <span class="zh-tw-lyric-picking__text"></span>
      </div>
    <%}%>
  </div>
  <a href="#" class="zh-tw-lyric-picking__btn">
    <img src="~@img/refresh.png" alt="">
  </a>
</div>