<div class="zh-tw-alphabet">
  <div class="zh-tw-alphabet__row">
    <% const CELLS_NUMBER=2%>
    <% for(let i = 0;i<CELLS_NUMBER;i++){%>
      <div class="zh-tw-alphabet__cell">
        <span class="zh-tw-alphabet__text">ㄅ</span>
      </div>
    <%}%>
  </div>
  <a href="#" class="zh-tw-alphabet__btn">
    <img src="~@img/refresh.png" alt="">
  </a>
</div>